.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker{
  display: none;
  width: 250px;
  padding: 15px;
  text-transform: lowercase;
  font-size: 15px;

  background: #fff;
}
