*{
  margin: 0;
  padding: 0;

}

wrapper{
  align: center;
  height: 1366px;
  width: 100%;
  background: #ccc7bd;
  border: 5px solid black;
}

nav{
  float: left;
  text-align : center;
  width: 76px;
  height: 1366px;
  border-right: 1px solid black;
}

.profile_section{
  margin: 15px 0px 15px 0px;
  text-align: center;
  width: 500px;

}
