.module {
  background-color: rgba(255,255,255,0.75);
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align:center;
}

.hub{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.75);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align:center;
}
.pipeline {
  background-color: rgba(255,255,255,0.75);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align:center;
}

.calendar {
  background-color: rgba(255,255,255,0.75);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width:550px;
  text-align:center;
}

.profile {
  background-color: rgba(255,255,255,0.75);
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.survey {

}

.classified {

}

.table {
  border: 1px solid #ddd;
  margin: 0px;
}

.top {
  border-bottom: 0px;
}

.bottom {
  border-top: 0px;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

.points {
  color: green;
}

.large {
  font-size: 2em;
}

.med {
  font-size: 1.5em;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    flex-grow: 1;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker{
  display: none;
  width: 250px;
  padding: 15px;
  text-transform: lowercase;
  font-size: 15px;

  background: #fff;
}


.bgimg-1 {
  background-image: url('lewes.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 100px;
  height: 100px;
}

.badger {
  width: 30px;
  height: 30px;
}

.pointer {
  cursor: pointer;
}

#badgers {
  display: none;
}

#map {
  height: 80%;
  width: 130%;
}

body,h1, h3 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
body {
    background-image: url('lewes.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

div.content{
  background-color: white;
}
