.module {
  
}

.container{
  display: flex;
  justify-content: space-between;
}

.survey {

}

.points {
  
}

.classified {
  
}

.table {
  border: 1px solid #ddd;
  margin: 0px;
}

.top {
  border-bottom: 0px;
}

.bottom {
  border-top: 0px;
}

h3 {
  margin-top: 0px;
}
