.container{
  display: flex;
}

.module-left {

}

.module-middle {
  
}

.module-right {
  
}

.table {
  border: 1px solid #ddd;
  margin: 0px;
}

.top {
  border-bottom: 0px;
}

.bottom {
  border-top: 0px;
}

h3 {
  margin-top: 0px;
}
